
@{
    ViewBag.Title = "Hakkımızda";
}

<h2 class="text-center">Hakkımızda</h2>


<div class="container">

    <div class="row">

        <div class="col-md-3" style="margin-top:100px">
            @Html.Partial("_PartialPageKategori")
        </div>

        <div class="col-md-9">
            <div>
                <h2>
            Consectetur adipiscing elit fusce vel.
                </h2>
                <hr />
                <div style="text-align: center; "> 
                    <img src="~/image/book.jpg" style="width:500px; margin:auto " alt="Alternate Text" />
                </div>
                <hr />
                <b>Consectetur adipiscing elit fusce vel.</b>
                <p>Tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor.</p>
        </div>

        </div>
    </div>
</div>

