@using Makale_Entities
@model List<Yorum>
@{
    Kullanıcı kullanici = null;
    if (Session["login"] != null)
    {
        kullanici = (Kullanıcı)Session["login"];
    }

}
@foreach (var item in Model)
{
    <div class="media">
        <div class="media-left">
            <span class="glyphicon glyphicon-comment"></span>
        </div>
        <div class="media-body">
            <div>
                @*contenteditable => edit edilme özelliğini açıp kapatmamızı sağlar*@
                <span id="text_@item.ID" contenteditable="false">@item.Text</span>
                @if (kullanici != null && kullanici.ID == item.Kullanici.ID)
                    {
                    <span>
                        @*this=>butonun kendisini gönderir*@
                        <button type="button" class="btn btn-warning btn-sm" data-edit="false" onclick="yorumislem(this,'update',@item.ID, text_@item.ID)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" onclick="yorumislem(this,'delete',@item.ID)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </span>
                    }
                <small>
                    <span class="glyphicon glyphicon-time">@item.DegistirmeTarihi</span>
                    <span class="glyphicon glyphicon-user">@item.Kullanici.KullaniciAdi</span>
                </small>
            </div>
        </div>
    </div>
}

@if (kullanici != null)
{
    <hr />
    <div class="input-group" style="margin:4px 4px">
        <input type="text" class="form-control" placeholder="Yorumunuz" id="yorum_text_id">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" onclick="yorumislem(this, 'create')">Kaydet</button>
        </span>
    </div><!-- /input-group -->
}