<div class="container" style="margin-top:300px">
    <hr>
    <footer>
        <div class="row text-center">
            <div class="col-lg-4">
                <b>Site Haritası</b>
                <hr />
                <a href="#">Hakkımızda</a>
                <br />
                <a href="#">Beğenilenler</a>
                <br />
                <a href="#">Son yazılanlar</a>
            </div>
            <div class="col-lg-4">
                <b>&copy; Makale Web Projesi 2022</b>
                <hr />
                <p>@DateTime.Now Tüm hakları saklıdır</p>
            </div>
            <div class="col-lg-4">
                <b>E-Bülten üyeliği</b>
                <hr />
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div>
        </div>
    </footer>
</div>
