@using Makale_Web.Models
@using Makale_Entities
@{ 
    List<Kategori> kategoriler = CacheHelper.Kategoriler();
}
<p class="lead">Kategoriler</p>
<div class="list-group">
    <a href="#" class="list-group-item">Tüm kategoriler</a>
     @foreach (Kategori item in kategoriler)
      {
        <a href="/Home/Kategori/@item.ID" class="list-group-item">@item.KategoriBaslik</a>
      }
</div>